---

---

<html lang="en">
	<head></head>
	<body>
		<div class="wrapper" style="padding:1rem 0">
			<a href="https://jeffreyderoode.nl">
				<img
					src="https://jeffreyderoode.nl/assets/images/jdr-signature.png"
					width="192px"
					alt="Jeffrey de Roode"
				/>
			</a>
			<div
				class="content"
				style="margin-top:1rem; font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace; font-weight: normal;"
			>
				<h1 style="display:none">Jeffrey de Roode</h1>
				<div
					class="links"
					style="text-transform:uppercase; font-size:0.875rem; letter-spacing:0.0125em;"
				>
					<a href="mailto:hello@jeffreyderoode.nl">hello@jeffreyderoode.nl</a><br />
					<a href="tel://+310646714731">+31(0)646714731</a><br />
					<!-- <a href="https://jeffreyderoode.nl">jeffreyderoode.nl</a> -->
				</div>
				<div
					class="legal"
					style="text-transform:uppercase; font-size:0.675rem;  letter-spacing:0.025em; color:#666; margin-top:1rem;"
				>
					<p>KVK 68591012</p>
					<p>BTW NL001798656B14</p>
				</div>
			</div>
		</div>
	</body>
</html>

<style></style>
