---
interface Props {
	slug: string;
}

const { slug } = Astro.props;
---

<!-- Swiper -->
<div
	class:list={['swiper', 'swiper-' + slug]}
	data-swiper-autoplay="2000"
	data-slug={'swiper-' + slug}
>
	<div class="swiper-wrapper">
		<slot />
	</div>
</div>
<style>
	.swiper {
		width: 100%;
		height: auto;
	}
</style>

<script>
	import Swiper from 'swiper';
	import type { SwiperOptions } from 'swiper/types';
	// Import Swiper styles
	import 'swiper/css';

	const swipers = document.querySelectorAll('.swiper');

	swipers.forEach((s: any, index: number) => {
		console.log('.' + s.dataset.slug);

		const swiperParams: SwiperOptions = {
			slidesPerView: 1,
			spaceBetween: 0,
			autoplay: {
				delay: 5000,
			},
		};

		const swiper = new Swiper('.' + s.dataset.slug, swiperParams);
	});
</script>
