---
import FilmCard from './FilmCard.astro';

const res = await fetch(
	'https://script.google.com/macros/s/AKfycbx5CGGJf5WdDbZuRT8JGhSqLdjneCaVGtegEfKZO9TzJ1_0pf3HvK_s4pNojJSrbQ6Z/exec'
);
const { data } = await res.json();

// console.log('🚀 ~ data:', data);
---

<div class="filmlist relative z-50">
	<h2 class="pt pt-vw-96-max@2xl pb-2 text-8xl">Filmography</h2>
	<!-- <div class="sticky top-0 z-20 min-h-svh md:min-h-screen films">
		<Image
			src={bgImage}
			width={bgImage.width / 2}
			densities={[1.5, 2]}
			class="absolute top-0 h-full w-full object-cover"
			alt="Hero Image"
		/>
	</div> -->
	<div class="relative filmwrap top-0 z-50">
		{data.map((i) => <FilmCard data={i} />)}
	</div>
</div>

<div id="contact" class="h-full"></div>

<style is:global>
	h2 {
		font-family: var(--font-brand);
		text-transform: uppercase;
	}
	.filmlist {
		border-top: 2px var(--text) solid;
		color: var(--text);
		background: var(--bg);
	}
	.box {
		transform: translateY(5rem);
	}
</style>

<script>
	import { animate, stagger, inView } from 'motion';

	inView(
		'.filmwrap',
		(info) => {
			animate(
				'.box',
				{ transform: ['translateY(0)'] },
				{
					delay: stagger(0.125),
					duration: 1,
					easing: [0.22, 0.03, 0.26, 1],
				}
			);
		},
		{ margin: '10% 0px 0px 0px' }
	);
</script>
