---
import FilmCard from './FilmCard.astro';

const res = await fetch(
	'https://script.google.com/macros/s/AKfycbx5CGGJf5WdDbZuRT8JGhSqLdjneCaVGtegEfKZO9TzJ1_0pf3HvK_s4pNojJSrbQ6Z/exec'
);
const { data } = await res.json();

// console.log('🚀 ~ data:', data);
---

<div class="filmlist relative z-50">
	<h2 class="p-2 pt-vw-52-max@xl mb-2 text-8xl">Filmography</h2>
	<!-- <div class="sticky top-0 z-20 min-h-svh md:min-h-screen films">
		<Image
			src={bgImage}
			width={bgImage.width / 2}
			densities={[1.5, 2]}
			class="absolute top-0 h-full w-full object-cover"
			alt="Hero Image"
		/>
	</div> -->
	<div class="relative top-0 z-50">
		{data.map((i) => <FilmCard data={i} />)}
	</div>
</div>

<style>
	h2 {
		font-family: var(--font-brand);
	}
	.filmlist {
		color: var(--text);
		background: var(--bg);
	}
	.poepje {
		background-image: url('https://lab.pangrampangram.com/experiments/image-gallery/images/1.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		background-color: green;
	}
</style>
