---
const currentYear = new Date().getFullYear();
---

<footer class="flex flex-col h-screen z-0">
	<div class="grow content-end">
		<h1 class="text-8xl text brand leading-3" itemprop="name">
			Jeffrey <br />de Roode
		</h1>
	</div>
	<div class="content about grid mt-4 grid-cols-1 gap-4 md:grid-cols-4">
		<p class="text-5xl md:text-3xl brand md:col-span-2 text-balance">
			I'm a documentary film producer based in Rotterdam. I operate as a producer, executive
			producer, or line producer on a freelance basis.
		</p>
		<p class="text-balance">
			Following a career in retail and a decade of travelling the world, I felt it was time for a
			career change. After I quit my job, sold my stuff and travelled some more, I found my calling
			in the film industry. My experience spans from passion projects, student films and shorts, to
			commercials, corporate videos and brand movies for all kinds of commercial and non-profit
			organisations. Ultimately, I gravitated towards documentaries, where I feel most fulfilled.
		</p>
		<p class="text-balance">
			I engage in projects aligned with my values, collaborating with like minded individuals who
			share a vision that echoes the essence of my love for travelling: to broaden horizons, shift
			perspectives, and contribute to making this world a better place.
		</p>
	</div>
	<div class="content contact grid grid-cols-2 gap-4 pt-8 md:grid-cols-4">
		<div class="pb-4 md:pb-0">
			<h3>Contact</h3>
			<ul class="md:col-span-2" itemscope itemtype="http://schema.org/Person">
				<li itemprop="jobTitle" class="hidden">Producer</li>
				<li>
					<a href="mailto:hello@jeffreyderoode.nl" itemprop="email">hello@jeffreyderoode.nl</a>
				</li>

				<li>
					<a href="tel://+310646714731" itemprop="telephone">+31(0)646714731</a>
				</li>
			</ul>
		</div>

		<div class="pb-4 md:pb-0">
			<h3>Address</h3>
			<ul>
				<li class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<a
						itemprop="streetAddress"
						href="https://goo.gl/maps/TPdngwBHEb1kyXfCA"
						rel="noopener"
						target="_blank"
					>
						Goudsesingel 136
					</a>
				</li>
				<li>
					<span itemprop="postalCode">3011 KD</span>
					<span itemprop="addressLocality">Rotterdam</span>
				</li>
			</ul>
		</div>
		<div class="pb-4 md:pb-0">
			<h3 class="hidden">Social</h3>
			<ul class="social">
				<li>
					<a
						href="https://www.linkedin.com/in/jeffrey-de-roode-857575139/"
						rel="noopener"
						target="_blank"
					>
						LinkedIn
					</a>
				</li>

				<li>
					<a href="https://www.instagram.com/jeffreyderoode/" rel="noopener" target="_blank">
						Instagram
					</a>
				</li>

				<li>
					<a href="https://vimeo.com/jeffreyderoode" rel="noopener" target="_blank">Vimeo</a>
				</li>
				<li>
					<a
						href="https://www.facebook.com/jeffrey.manuel.334"
						rel="noopener"
						class="hidden"
						target="_blank"
					>
						Facebook
					</a>
				</li>
			</ul>
		</div>
		<div class="pb-4 md:pb-0">
			<ul class="business">
				<li>KVK 68591012</li>
				<li>BTW NL001798656B14</li>
				<li><a href="#" target="_blank">Terms & Conditions</a></li>
			</ul>
		</div>
	</div>
	<div class="credits grid grid-cols-2 pv-vw-2">
		<p class="">&copy; {currentYear} Jeffrey de Roode</p>
		<p class="">
			design + development <a href="https://allthis.digital" target="_blank">allthis.digital</a>
		</p>
	</div>
</footer>

<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Jeffrey de Roode",
		"url": "https://jeffreyderoode.nl/",
		"address": "Goudsesingel 136",
		"sameAs": [
			"https://www.facebook.com/jeffrey.manuel.334",
			"https://www.linkedin.com/in/jeffrey-de-roode-857575139/",
			"https://www.instagram.com/jeffreyderoode/"
		],
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "Goudsesingel 136",
			"addressRegion": "ZH",
			"postalCode": "3011 KD",
			"addressLocality": "Rotterdam",
			"addressCountry": "NL"
		}
	}
</script>
<style>
	footer {
		background: var(--text);
		bottom: 0;
		color: var(--bg);

		font-size: 0.675rem;
		font-weight: 500;
		left: 0;
		line-height: 133%;
		position: sticky;

		width: 100%;
		padding: var(--space-xs);
		letter-spacing: 0.025rem;
		gap: 1rem;
	}

	footer a {
		text-decoration: none;
	}
	footer a:hover {
		border-bottom: 0.125rem solid var(--bg);
	}
	.about {
	}
	.contact {
		font-family: var(--font-mono);
		text-transform: uppercase;
	}

	.brand {
		font-family: var(--font-brand);
		text-transform: uppercase;
		line-height: 80%;
	}

	.credits {
		gap: var(--gapborder);
		font-size: 0.5rem;
		opacity: 0.5;
	}
</style>
