---
const currentYear = new Date().getFullYear();
---

<footer>
  <p>Do you want to collaborate? <br />Get in touch!</p>
  <div class="contact">
    <ul class="details" itemscope itemtype="http://schema.org/Person">
      <li itemprop="name">Jeffrey de Roode</li>
      <li itemprop="jobTitle">Producer</li>
      <li>
        <a href="mailto:hello@jeffreyderoode.nl" itemprop="email"
          >hello@jeffreyderoode.nl</a
        >
      </li>
      <li>
        <a href="tel://+310646714731" itemprop="telephone">+31(0)646714731</a>
      </li>
      <li
        class="address"
        itemprop="address"
        itemscope
        itemtype="http://schema.org/PostalAddress"
      >
        <span itemprop="streetAddress"
          ><a
            href="https://goo.gl/maps/TPdngwBHEb1kyXfCA"
            rel="noopener"
            target="_blank">Goudsesingel 136</a
          ></span
        >
        <br /><span itemprop="postalCode">3011 KD</span>
        <span itemprop="addressLocality">Rotterdam</span>
      </li>
    </ul>
    <ul class="social">
      <li>
        <a
          href="https://www.facebook.com/jeffrey.manuel.334"
          rel="noopener"
          target="_blank">Facebook</a
        >
      </li>
      <li>
        <a
          href="https://www.instagram.com/jeffreyderoode/"
          rel="noopener"
          target="_blank">Instagram</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/jeffrey-de-roode-857575139/"
          rel="noopener"
          target="_blank">LinkedIn</a
        >
      </li>
      <li>
        <a
          href="https://vimeo.com/jeffreyderoode"
          rel="noopener"
          target="_blank">Vimeo</a
        >
      </li>
    </ul>
    <ul class="business">
      <li>KVK 68591012</li>
      <li>BTW NL001798656B14</li>
      <li><a href="#" target="_blank">Terms & Conditions</a></li>
      <li>&copy; {currentYear} Jeffrey de Roode</li>
    </ul>
  </div>
  <p class="credits">
    <small
      >design + development <a href="https://allthis.digital" target="_blank"
        >allthis.digital</a
      ></small
    >
  </p>
</footer>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Jeffrey de Roode",
    "url": "https://jeffreyderoode.nl/",
    "address": "Goudsesingel 136",
    "sameAs": [
      "https://www.facebook.com/jeffrey.manuel.334",
      "https://www.linkedin.com/in/jeffrey-de-roode-857575139/",
      "https://www.instagram.com/jeffreyderoode/"
    ],
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Goudsesingel 136",
      "addressRegion": "ZH",
      "postalCode": "3011 KD",
      "addressLocality": "Rotterdam",
      "addressCountry": "NL"
    }
  }
</script>

<style>
  footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--clr-orange);
    padding: 2rem 1rem;
    z-index: 0;
  }
  footer p {
    margin-top: 2rem;
    font-size: 1.5rem;
    letter-spacing: -0.025rem;
  }
  footer ul {
    margin: 2rem 0;
    line-height: 1.5rem;
  }
  footer a {
    color: var(--clr-black);
    text-decoration: none;
    border-bottom: 0.095rem solid rgba(0, 0, 0, 0.4);
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  }
  footer a:hover {
    border-bottom: 0.095rem solid rgba(0, 0, 0, 0.8);
  }
  footer .business,
  footer p.credits {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
  }
  footer .business li {
    margin: 0;
  }
</style>
