---
const currentYear = new Date().getFullYear();
---

<footer class="flex flex-col h-screen z-0">
	<div class="grow content-end">
		<p class="text-8xl brand leading-3" itemprop="name">
			Jeffrey <br />de Roode
		</p>
	</div>

	<div class="content grid grid-cols-1 contact md:grid-cols-4">
		<div>
			<h3>Contact</h3>
			<ul class="md:col-span-2" itemscope itemtype="http://schema.org/Person">
				<li itemprop="jobTitle">Producer</li>
				<li>
					<a href="mailto:hello@jeffreyderoode.nl" itemprop="email">hello@jeffreyderoode.nl</a>
				</li>

				<li>
					<a href="tel://+310646714731" itemprop="telephone">+31(0)646714731</a>
				</li>
			</ul>
		</div>

		<div>
			<h3>Address</h3>
			<ul>
				<li class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<a
						itemprop="streetAddress"
						href="https://goo.gl/maps/TPdngwBHEb1kyXfCA"
						rel="noopener"
						target="_blank"
					>
						Goudsesingel 136
					</a>
				</li>
				<li>
					<span itemprop="postalCode">3011 KD</span>
					<span itemprop="addressLocality">Rotterdam</span>
				</li>
			</ul>
		</div>
		<div>
			<h3>Social</h3>
			<ul class="social">
				<li>
					<a href="https://www.facebook.com/jeffrey.manuel.334" rel="noopener" target="_blank">
						Facebook
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/jeffreyderoode/" rel="noopener" target="_blank">
						Instagram
					</a>
				</li>
				<li>
					<a
						href="https://www.linkedin.com/in/jeffrey-de-roode-857575139/"
						rel="noopener"
						target="_blank"
					>
						LinkedIn
					</a>
				</li>
				<li>
					<a href="https://vimeo.com/jeffreyderoode" rel="noopener" target="_blank">Vimeo</a>
				</li>
			</ul>
		</div>
		<ul class="business">
			<li>KVK 68591012</li>
			<li>BTW NL001798656B14</li>
			<li><a href="#" target="_blank">Terms & Conditions</a></li>
		</ul>
	</div>
	<div class="credits grid grid-cols-2 pv-vw-2">
		<p class="">&copy; {currentYear} Jeffrey de Roode</p>
		<p class="">
			design + development <a href="https://allthis.digital" target="_blank">allthis.digital</a>
		</p>
	</div>
</footer>

<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Jeffrey de Roode",
		"url": "https://jeffreyderoode.nl/",
		"address": "Goudsesingel 136",
		"sameAs": [
			"https://www.facebook.com/jeffrey.manuel.334",
			"https://www.linkedin.com/in/jeffrey-de-roode-857575139/",
			"https://www.instagram.com/jeffreyderoode/"
		],
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "Goudsesingel 136",
			"addressRegion": "ZH",
			"postalCode": "3011 KD",
			"addressLocality": "Rotterdam",
			"addressCountry": "NL"
		}
	}
</script>
<style>
	footer {
		background: var(--text);
		bottom: 0;
		color: var(--bg);
		font-family: var(--font-mono);
		font-size: 0.675rem;
		font-weight: 600;
		left: 0;
		line-height: 133%;
		position: sticky;
		text-transform: uppercase;
		width: 100%;
		padding: var(--space-xs);
		gap: 1rem;
	}

	footer a {
		text-decoration: none;
	}
	footer a:hover {
		border-bottom: 0.125rem solid var(--bg);
	}

	.brand {
		font-family: var(--font-brand);
		text-transform: uppercase;
		line-height: 80%;
	}

	.content {
		gap: var(--gapborder);
	}
	.credits {
		gap: var(--gapborder);
	}
</style>
