---
const currentYear = new Date().getFullYear();
import { Image } from 'astro:assets';
import hero from '../assets/jdr-cover-doel-01.jpg';
---

<header class="sticky top-0 z-20 flex flex-col min-h-svh md:min-h-screen md:grid md:grid-cols-2">
	<div
		class="relative flex items-center justify-center h-full bg-center bg-cover grow visual md:h-screen"
	>
		<Image
			src={hero}
			width={hero.width / 2}
			densities={[1.5, 2]}
			alt="Jeffrey de Roode"
			class="z-10 object-cover w-full h-full"
		/>
	</div>

	<div class="flex items-center justify-center h-full py-16 md:p-4 copy">
		<div class="text-center flex flex-col gap-2 p-vw-2
		 md:gap-4">
			<p class="uppercase intro text-5xl md:text-5xl lg:text-5xl text-balance">
				I work on documentary films that broaden horizons, shift perspectives and contribute to
				making this world a better place.
			</p>
			<p class="text-xs note">Feel free to reach out.</p>
		</div>
	</div>
</header>

<style>
	header {
		background: var(--text);
		/* background: red; */
		color: var(--clr-black);
		gap: var(--gapborder);
		border-bottom: var(--gapborder) solid var(--text);
		min-height: -webkit-fill-available;
	}

	.visual {
		background: var(--bg);
	}
	.copy {
		background: var(--clr-brand);
	}

	.intro {
		font-family: var(--font-brand);
		color: var(--clr-black);
		font-weight: 100;
	}

	.intro .note {
		font-family: var(--font-body);
		font-weight: 600;
	}

	@media (min-width: 768px) {
		header {
			min-height: 100vh;
			grid-template-rows: 1fr;
			grid-template-columns: 1fr 1fr;
		}
	}
</style>
