---
const currentYear = new Date().getFullYear();
---

<header class="sticky z-10 bg-white gap-0 md:grid l:grid-cols-2">
	<div class="relative flex items-center justify-center visual sm:relative md:h-screen">
		<img
			class="absolute z-10 object-cover w-full h-full"
			src="./assets/images/jdr-cover.jpg"
			alt="Jeffrey de Roode"
		/>
	</div>

	<div class="flex items-center justify-center h-full">
		<div class="flex flex-col p-4 text-center intro">
			<p class="uppercase text-7xl text-balance">
				I work on films that broaden horizons and share new perspectives.
			</p>
			<p class="text-xs note">Feel free to reach out.</p>
		</div>
	</div>
</header>

<style>
	header {
		background: var(--clr-brand);
		color: var(--clr-black);
	}

	.visual {
		background: var(--bg);
		z-index: 10;
		min-height: 50vh;
	}

	.intro {
		font-family: var(--font-brand);
		color: var(--clr-black);
		font-weight: 100;
	}

	.intro .note {
		font-family: var(--font-body);
		font-weight: 600;
	}

	@media (min-width: 768px) {
		header {
			min-height: 100vh;
			grid-template-rows: 1fr;
			grid-template-columns: 1fr 1fr;
		}
	}
</style>
