---
import '../styles/global.css';

import { SEO } from 'astro-seo';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const {
	title = 'Jeffrey de Roode • Freelance Producer',
	description = 'Jeffrey de Roode is a Rotterdam based freelance producer specialized in documentaries.',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />

<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<SEO
	description={description}
	openGraph={{
		basic: {
			title: title,
			type: 'Website',
			image: 'https://jeffreyderoode.nl/assets/images/jdr-share.jpg',
			url: 'https://jeffreyderoode.nl/',
		},
	}}
	extend={{
		meta: [
			{
				name: 'twitter:card',
				content: 'summary_large_image',
			},
			{
				name: 'twitter:title',
				content: title,
			},
			{
				name: 'twitter:description',
				content: description,
			},
			{
				name: 'twitter:image',
				content: 'https://jeffreyderoode.nl/assets/images/jdr-share.jpg',
			},
		],
	}}
/>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap"
	rel="stylesheet"
	media="print"
	onload="this.media='all'"
/>
<noscript>
	<link
		href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap"
		rel="stylesheet"
	/>
</noscript>
