---
/** Main menu items - Verplaatsen naar const */
const textLinks: { label: string; href: string }[] = [
	{ label: 'about', href: '#content' },
	{ label: 'work', href: '#projects' },
	{ label: 'contact', href: '#contact' },
];
---

<nav class="outer w-full grid grid-cols-2 px-vw-8 py-vw-4 fixed z-50">
	<div class="brand">
		<h1 class="text-base font-bold">
			<a href="#" class="js-anchor-link">Jeffrey de Roode</a>
		</h1>
	</div>
	<div class="menu flex items-center justify-between pl-vw-8">
		{
			textLinks.map((l) => (
				<a class="text-base" href={l.href}>
					{l.label}
				</a>
			))
		}
	</div>
</nav>

<style>
	nav {
		mix-blend-mode: exclusion;
		color: white;
	}
</style>
