---
/** Main menu items */
const textLinks: { label: string; href: string }[] = [
  { label: "home", href: "/" },
  { label: "work", href: "#content" },
  { label: "about", href: "#projects" },
  { label: "contact", href: "#contact" },
];
---

<nav class="outer w-full grid grid-cols-2 px-vw-8 fixed bg-red-500 z-50">
  <!-- <div class="inner grid grid-cols-2"> -->
  <div class="brand">
    <h1 class="text-2xl font-bold">
      <a href="#content" class="js-anchor-link">Jeffrey de Roode</a>
    </h1>
  </div>
  <div class="menu flex items-center justify-between pl-vw-8 bg-red-300">
    <a class="js-anchor-link" href="#content">about</a>
    <a class="js-anchor-link" href="#projects">work</a>
    <a class="js-anchor-link" href="#contact">contact</a>
  </div>
</nav>

<style>
  nav {
    /* mix-blend-mode: exclusion; */
  }
</style>
