---
const { title, client, description } = Astro.props;
---

<section class="project w-full">
  <header class="grid grid-cols-2 gap-0 px-vw-8 py-vw-4">
    <h3 class="text-base">{title}</h3>
    <h2 class="text-base pl-vw-8">{client}</h2>
  </header>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-slide-type="img">
        <img src="assets/images/koala-01.jpg" alt="Description" />
      </div>
      <div class="swiper-slide" data-slide-type="img">
        https://vimeo.com/267286797
      </div>
      <div class="swiper-slide" data-slide-type="img">Slide 3</div>
      <div class="swiper-slide" data-slide-type="vdo">
        <video
          id="my-player"
          class="video-js"
          controls
          preload="auto"
          poster="//vjs.zencdn.net/v/oceans.png"
          data-setup="{}"
        >
          <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4" /></video
        >
        <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm" />
      </div>
      <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg" />
    </div>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank">
        supports HTML5 video
      </a>
    </p>
  </div>
  <div class="grid grid-cols-2 gap-0 px-vw-8 pb-vw-20">
    <p class="col-start-2 text-base pl-vw-8">
      {description}
    </p>
  </div>
</section>

<style>
  section {
    position: relative;
  }
  header {
    position: sticky;
    top: 2rem;
  }
  img {
    width: 100%;
    height: auto;
  }
</style>
