---
import { getEntry } from "astro:content";

interface Props {
  slug: string;
}

const { slug } = Astro.props;

const entry = await getEntry("projects", slug);
const { Content } = await entry.render();

const images: Array = entry?.data.imgs;
---

<section class="project w-full">
  <header class="grid grid-cols-2 gap-0 px-vw-8 py-vw-4 bg-red-400">
    <h3>{entry.data.type}</h3>
    <h2>{entry.data.title}</h2>
  </header>

  {images.map((i) => <img src={i} alt="" />)}

  <!--
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-slide-type="img">
        <img src="assets/images/koala-01.jpg" alt="Description" />
      </div>
      <div class="swiper-slide" data-slide-type="img">
        https://vimeo.com/267286797
      </div>
      <div class="swiper-slide" data-slide-type="img">Slide 3</div>
      <div class="swiper-slide" data-slide-type="vdo">
        <video
          id="my-player"
          class="video-js"
          controls
          preload="auto"
          poster="//vjs.zencdn.net/v/oceans.png"
          data-setup="{}"
        >
          <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4" /></video
        >
        <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm" />
      </div>
      <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg" />
    </div>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank">
        supports HTML5 video
      </a>
    </p>
  </div>
   -->
</section>
<div class="px-vw-8 grid grid-cols-2 gap-0 bg-red-400">
  <p class="col-start-2 py-vw-4">
    <Content />
  </p>
</div>

<style>
  img {
    width: 100%;
    height: auto;
  }
</style>
