<input id="color-mode" type="checkbox" name="color-mode" />
<label for="color-mode" class="bottom-6 right-6 md:bottom-vw-4 md:right-vw-4">
	<span class="dark-mode-hide"></span>
	<span class="light-mode-hide"></span>
</label>

<style is:global>
	:root {
		--bg: var(--clr-white);
		--text: var(--clr-black);
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--bg: var(--clr-black);
			--text: var(--clr-white);
		}
	}

	#color-mode,
	label {
		position: fixed;
		z-index: 100;
	}

	#color-mode:checked ~ * {
		--bg: var(--clr-black);
		--text: var(--clr-white);
	}

	@media (prefers-color-scheme: dark) {
		#color-mode:checked ~ * {
			--bg: var(--clr-white);
			--text: var(--clr-black);
		}
	}

	.light-mode-hide {
		display: none;
	}

	@media (prefers-color-scheme: dark) {
		.dark-mode-hide {
			display: none;
		}
	}

	@media (prefers-color-scheme: dark) {
		.light-mode-hide {
			display: initial;
		}
	}
	label {
		cursor: pointer;
		display: none;
		position: fixed;
		background: var(--text);
		color: var(--bg);
		padding: 0.25rem 0.25rem;
		display: flex;
		align-items: center;
		border-radius: 100vw;
		font-family: var(--font-mono);
		font-size: var(--text-s) !important;
		text-transform: uppercase;
		/* box-shadow:
      0 2px var(--bg),
      0 4px var(--text); */
		user-select: none;
		z-index: 100;
	}

	input[type='checkbox']:focus + label {
		outline: 2px dashed var(--text);
		outline-offset: 2px;
	}

	label:active {
		transform: translateY(1px);
		box-shadow:
			0 1px var(--bg),
			0 3px var(--text);
	}

	label:after {
		content: '✔\FE0E';
		height: 1.2rem;
		width: 1.2rem;
		/* margin-left: 0.25rem; */
		border: solid 2px var(--bg);
		text-align: center;
		border-radius: 100vw;
		color: transparent;
		line-height: 1;
	}

	#color-mode:checked + label:after {
		color: var(--bg);
	}

	input[type='checkbox'] {
		opacity: 0.00001;
		position: absolute;
	}

	.color-scheme-wrapper {
		min-height: 100vh;
		background: var(--bg);
		color: var(--text);
		transition: background var(--theme-transition);
		transition: color var(--theme-transition);
	}
</style>
